{% extends 'base.html.twig' %}
{% block content %}
    <main class="mdl-layout__content mdl-color--grey-100">

        <div class="mdl-grid demo-content">

            <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">

                {#           {{dump(list)}}#}

                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>
                                {{'..id'|trans}}&nbsp;
                            </th>
                            <th>
                                {{'..sendDate'|trans|raw}}&nbsp;
                            </th>
                            <th>
                                {{'..sendDate'|trans|raw}}&nbsp;
                            </th>
                            <th>
                                {{'..sendDate'|trans|raw}}&nbsp;
                            </th>
                            <th>
                                {{'..sendDate'|trans|raw}}&nbsp;
                            </th>

                            <th>{{'..actions'|trans|raw}}</th>
                        </tr>
                    </thead>
                    <tbody id="contentTableUser">
                        {% for ship in list %}  
                            <tr>
                                <td>
                                    {{ ship.id  }} 
                                </td>
                                <td> 
                                    {{ ship.sendDate   }} 
                                </td>


                                <td> 
                                    {{ ship.accountingDate|date('d/m/Y')   }}
                                </td>                      

                                <td> 
                                    {{ ship.user }} 
                                </td>
                                <td>
                                    {{ ship.winday  }} 
                                </td>
                                <td>
                                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
                                </td>
                            </tr>
                        {% endfor %}   
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                        $('.modal').modal({
                            dismissible: true, // Modal can be dismissed by clicking outside of the modal
                            opacity: .5, // Opacity of modal background
                            inDuration: 300, // Transition in duration
                            outDuration: 200, // Transition out duration
                            startingTop: '4%', // Starting top style attribute
                            endingTop: '10%', // Ending top style attribute
                            ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                                $.ajax({
                                    type: "POST",
                                    url: ' {{path('product_add')}}',
                                    success: function (response) {
                                        console.log(response);
                                    },
                                    error: function (response) {

                                    }
                                });
                            },
                            complete: function () {

                            } // Callback for Modal close
                        }
                        );

                    });
                </script>
            </div>
            <!-- Modal Structure -->
            <div id="modal1" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>

            <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                        <h2 class="mdl-card__title-text">Updates</h2>
                    </div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        Non dolore elit adipisicing ea reprehenderit consectetur culpa.
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
                    </div>
                </div>
                <div class="demo-separator mdl-cell--1-col"></div>
                <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                        <h3>View options</h3>
                        <ul>
                            <li>
                                <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                    <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Click per object</span>
                                </label>
                            </li>
                            <li>
                                <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                    <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Views per object</span>
                                </label>
                            </li>
                            <li>
                                <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                    <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Objects selected</span>
                                </label>
                            </li>
                            <li>
                                <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                    <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                                    <span class="mdl-checkbox__label">Objects viewed</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
                        <div class="mdl-layout-spacer"></div>
                        <i class="material-icons">location_on</i>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
